<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sailboat.length.to_s + "ft" + " " + @sailboat.manufacturer + " " + @sailboat.model %>
</p>

<%= image_tag @sailboat.photo.url(:regular) %>

<fieldset>
  <legend>Sailboat information</legend>

  <fieldset>
    <legend>General</legend>

    <div class="row">
      <div class="large-6 columns">
        <%= @sailboat.manufacturer %>
      </div>
      <div class="large-6 columns">
        <%= @sailboat.model %>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <%= @sailboat.year %>
      </div>
      <div class="large-3 columns">
        <%= @sailboat.length %>
      </div>
      <div class="large-3 columns">
        <%= @sailboat.price %>
      </div>
      <div class="large-3 columns">
        <%= @sailboat.condition %>
      </div>
    </div>



      <div class="row">
        <div class="large-12 columns">
          <%= @sailboat.description %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= @sailboat.equipment %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= @sailboat.beam %>
        </div>
        <div class="large-4 columns">
          <%= @sailboat.draft %>
        </div>
        <div class="large-4 columns">
          <%= @sailboat.displacement %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= @sailboat.hull %>
        </div>
          <div class="large-6 columns">
            <%= @sailboat.material %>
          </div>
       </div>


        <div class="row">
          <div class="large-6 columns">
            <%= @sailboat.boat_type %>
          </div>
          <div class="large-6 columns">
            <%= @sailboat.rigging %>
          </div>
        </div>

        <div class="row">

          <div class="large-3 columns">
            <%= @sailboat.births %>
          </div>

          <div class="large-3 columns">
            <%= @sailboat.cabins %>
          </div>

          <div class="large-3 columns">
            <%= @sailboat.heads %>
          </div>

          <div class="large-3 columns">
            <%= @sailboat.showers %>
          </div>

        </div>

    </fieldset>
  <fieldset>
    <legend>Engines</legend>
    <div class="row">
      <div class="large-4 columns">
        <%= @sailboat.engines %>
      </div>
      <div class="large-4 columns">
        <%= @sailboat.engine_type %>
      </div>
      <div class="large-4 columns">
        <%= @sailboat.fuel_type %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= @sailboat.hours %>
      </div>
      <div class="large-6 columns">
        <%= @sailboat.horsepower %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Location</legend>
    <div class="row">
      <div class="large-12 columns">
        <%= @sailboat.boat_location_general %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= @sailboat.boat_location_city %>
      </div>
      <div class="large-4 columns">
        <%= @sailboat.boat_location_state %>
      </div>
      <div class="large-4 columns">
        <%= @sailboat.boat_location_zip %>
      </div>
    </div>
  </fieldset>
</fieldset>
<%= link_to 'Edit', edit_sailboat_path(@sailboat), class: "button radius" %> |
<%= link_to 'Back', sailboats_path, class: "button radius" %>


