<!DOCTYPE html>
  <head>
    <title>Sailboat Listings</title>
  	<%= render 'layouts/shim' %>
  </head>

<body>
  <%= render 'layouts/top_bar' %>

<div class="row">
  <div class="large-4 columns">
    <%= render 'layouts/search' %>
  </div>
  <div class="large-6 large-offset-2 columns">
    <%= render 'devise/menu/user_nav' %>
  </div>
</div>

<%= yield %>

  </body>
</html>
